mkdocs
mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-git-authors-plugin
mkdocs-title-casing-plugin
mkdocs-glightbox
mkdocs-redirects
mkdocs-section-index
mkdocs-include-markdown-plugin
tzdata
